# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

logs/

#oW-Core Configs
spark.properties
parse.properties
adminSession
conf/de.openinc.ow.middleware.io.MailSender.json

conf/de.openinc.owee.io.rabbitmq.RabbitMQConnection.json

conf/de.openinc.owee.io.rabbitmq.RabbitMQSender.json

jwt.json

.env

conf/
